// button 
$transparentBtn: transparent;

//random colors
$primaryColor:#451374;


//background colors
$primaryBackground: rgb(221, 221, 221);
$secondaryBackground: #fff;
$tetiaryBackground: #7f53ac;
$pmBackground : #647dee;

//gradients for background
$backgroundGradients: linear-gradient(315 deg, $tetiaryBackground 0%, $pmBackground 74%);


// rgb(221, 221, 221);

// heading colors
$primaryHeader:rgb(255, 241, 241);

//percentage variables

$percentile: 15%;


