@import './variables';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono');

*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    font-family: 'Lato', sans-serif;
}
.container{
    background-color: $firstBackground;
    width: 100%;
    height: 100vh;
}

.row{
    display: inline-block;
    width: 100%;
}

.info{
    background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
    opacity: 0.9;
    width: 68%;
    float: left;
    min-height: 98vh;
}

.form-container{
    margin-top: 10%;
    float: right;
    width: 32%;
   
}

.info-heading{
    font-size: 52px;
    margin-top:200px;
    font-weight: lighter;
    line-height: 56px;
    letter-spacing: 0;
    margin-left: $firstPercentage;
    padding: 10px;
    width: 40%;
    color: $firstHeading;
}

.paragraph{
    margin-left: $firstPercentage + 1%;
    @include paragraph;
    width: 34%;
}

.btn{
    margin-left: $firstPercentage;
}

.btn-md{

    @include btn;
    color:#451374;
    background: $secondBackground;
    border:2px solid $secondBackground;
}

.sn-btn-md{
    @include btn;
    border:2px solid $secondBackground;
    background: $thirdBtn;
    color:#fff;
}

.form{
    margin: 0 auto;
    padding: 0px 36px;
}

.form-heading{
    font-size: 38px;
    text-align: center;
    color:#451374;
    margin-bottom: 17px;
}

.form-paragraph{
    text-align: center;
    font-size:14px;
    line-height: 19px;
    margin: 0px 0px 16px;
    color:hsl(213,25%,24%);
}

.form-input{
    @include input;
    &:focus{
        border-bottom: 2px solid $firstColor;
      }
}

i{
    color:hsl(213,25%,24%);
    font-size:14px;
    margin-left: 5px;
}

b{
    font-size:14px;
    color:$firstColor;
    margin-left: 2px;
}

.register-btn{
    padding: 9px 164px;
    line-height: 19px;
    margin-top: 15px;
    margin-bottom: 10px;
    color:#ffffffd6;
     background: $firstColor;
     border: 2px solid $firstColor;
     border-radius: 4px;
}
a{
    font-size:14px;
    color:$firstColor;
    margin-left: 2px;
    text-decoration-line: none;
}